<div class="container">
<div class="row">

<% @posts.each do |post| %>
<div class="col-xs-6 col-md-3">
<div class="thumbnail">
  <%= link_to ( image_tag post.image.url(:medium), class: 'image'), post %>
<div class="caption">
  <p><strong>  Title: </strong> <%= post.title %> </p>
  <p> <%= link_to 'show post', post, class: "btn btn-default" %> </p>
</div>
</div>
</div>
<% end %>

</div>
</div>
